.Container{
    width: 100vw;
    height: auto;
    overflow: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header{
    border-bottom: 0.5px solid #ffffff;
    height: 10vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
}

.example-form-field {
    display: flex;
    align-items: center;
  }
  .header_keep{
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      margin-right: 150px;
  }
  .header_keep>h1{
    box-sizing: border-box;
    margin-top: 15px;
  }
  .search{
      display: flex;
      align-items: center;
      justify-content: space-between;
       height: 100%;
       width: 50%;
       box-sizing: border-box;
       padding: 10px;
       border-radius: 5px;
       border: 1px solid black;
    }
  .search>input{
          width: 100%;
          height: 100%;
          border: none;
          outline: none;
          background-color: transparent;
font-size: large;

  }
  
  .search_Icon{
   font-size:25px ;
   border: none;

  }
  .header_icons{
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 15%;
      height: 100%;
    color: #98989a;

  }
  .header_icons_2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 15%;
    height: 100%;
    color: #98989a;
  }
  .Content{
    box-sizing: border-box;
    height: 100%;
    padding: 5px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }
.Note_Containr{
display: flex;

align-items: flex-start;
justify-content:center;
width: 80vw;
height: 100%;
  }
  

  /////@at-root
  .nav-list{
    width: 400;
}
mat-sidenav{
    width: 10em;
}
.menu-container {
    border-top: 80px;
    margin-top: 15px;
    margin-left: 20px;
  }
  mat-sidenav-content {
    position: relative;
    display: block;
    height: 100%;
    overflow: auto;
  }
  #sidenav-button:focus {
    background-color: rgba(255, 196, 0, 0.2);
    margin-top: 2px;
    border-top-right-radius: 30vh;
    border-bottom-right-radius: 30vh;
    width: 240px;
  }
  #sidenav-button {
    border-top-right-radius: 30vh;
    border-bottom-right-radius: 30vh;
    width: 240px;
    height: 50px;
    font-size: 20px;
    opacity: 0.9;
  }
  mat-nav-list {
    margin-left: -22px;
  }
  #sidenav-button {
    display: inline-flex;
    justify-content: space-between;
    
  }
  #sidenav-icon {
    margin-right: 30px;
    margin-left: 8.9px;
    opacity: 0.6;
    font-size: 30px;
  }
  #sidenav.menu-close{
    width: 70px;
    height: 100vh;
    transition: 0.2s;
  }
  #sidenav.menu-open{
    width: 240px;
    transition: 0.2s;
  }
  mat-sidenav-container{
    height: 88vh;
    background: #fff;
  }
  .menu-button{
    color: grey;
    flex-direction: column;
  }
  mat-sidenav{
    width: 240px;
    background-color: transparent;
    border: none;
  }
  .image-container{
    width: 45;
  }
  .three-icons1{
    padding-left: 200px;
    opacity: 0.6;
  }
  .three-icons2{
    padding-left: 30px;
    opacity: 0.6;
  }
  .three-icons3{
    padding-left: 30px;
    opacity: 0.6;
  }