<div class="Container">
  <!-- Header_Compent starts -->
<div class="header" fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-icon-button (click)="onToolbarMenuToggle()"
    class="menu-button">     
        <mat-icon class="header_keep">menu</mat-icon>
      </button>
     <div  class="header_keep" >
         <img src="https://www.gstatic.com/images/branding/product/1x/keep_2020q4_48dp.png"/>
         <h1>keep</h1>
     </div>
     <div class="search" >
      <button mat-icon-button>
        <mat-icon class="search_Icon" >search</mat-icon>
      </button>
              <input matInput type="text" placeholder="Search"  [(ngModel)]="value">
            <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
              <mat-icon class="search_Icon">close</mat-icon>
            </button>
     </div>
     <div class="header_icons">
        <mat-icon >refresh</mat-icon>
        <mat-icon >view_agenda</mat-icon>
        <mat-icon >settings</mat-icon>
     </div>
     <div class="header_icons_2">
      <mat-icon >view_comfy</mat-icon>
     </div>
</div>
<!-- Header-Component ends -->
<div class="Content">
    <mat-sidenav-container>
      <mat-sidenav #sidenav mode="side" id="sidenav"  [class.menu-open]="isMenuOpen" [class.menu-close]="!isMenuOpen" opened>
          <div class="menu-container">
              <mat-nav-list>
                  <div mat-button id="sidenav-button">
                    <button mat-button id="sidenav-button" (click)="Notes()">
                        <mat-icon id="sidenav-icon">lightbulb</mat-icon>
                        Notes
                    </button>
                  </div>
                  <div>
                      <button mat-button id="sidenav-button">
                          <mat-icon id="sidenav-icon">notifications</mat-icon>
                          Reminder
                      </button>
                  </div>
                  <div>
                      <button mat-button id="sidenav-button">
                          <mat-icon id="sidenav-icon">edit</mat-icon>
                          Edit Labels
                      </button>
                  </div>
                  <div>
                    <button mat-button id="sidenav-button" fxLayout="row" (click)="Archive()">
                        <mat-icon id="sidenav-icon">archive</mat-icon>
                        Archive
                    </button>
                  </div>
                  <div>
                    <button mat-button id="sidenav-button" fxLayout="row" (click)="Trash()">
                        <mat-icon id="sidenav-icon">delete</mat-icon>
                        Trash
                    </button>
                  </div>
              </mat-nav-list>
          </div>
      </mat-sidenav>
    </mat-sidenav-container>
<div class="Note_Containr">
  <router-outlet>
    
  </router-outlet>
  
</div>
</div>
</div>