
  .Make_Note_icons{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: small;
    font-weight: 300;
  }
  .Color{
    display: grid;
    margin-right: 10px;
    cursor: pointer;
  }
  .card{
    background-color: #fff;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .trashIcons{
    border: 5px solid transparent;
      height: 20px;
      width: 50%;
      top: 20px;
      display: flex;
      align-items: center;
      background-color: transparent;
      margin-left: 20%;
      justify-content: space-between;
  }