<div class="Container">
  <div class="login_Container">
    <form [formGroup]="forgetPasswordForm" (ngSubmit)="forgetPassword()">
      <div class="Login_Top_Container">
        <div class="Header_Name">
          <p>Fundoo</p>
      </div>
        <h1>Find your email</h1>
        <h3>Enter your phone number or recovery email</h3>
      </div>
      <div class="Login_Middle_Container">
        <mat-form-field class="Email_Input" appearance="outline">
          <mat-label>Email or Phone</mat-label>
          <input matInput formControlName="email" required />
        </mat-form-field>
      </div>
      <div class="Login_Bottom_Container">
        <button mat-raised-button color="primary">Next</button>
      </div>
    </form>
  </div>
</div>
