<div class="create">
  <mat-card *ngIf="!card" class="_matcard">
    <input placeholder="Take a note..." class="input" (click)="cardSwap()" />
</mat-card>
<mat-card class="list-view-mat-card" *ngIf="card">
  <form [formGroup]="noteForm" (ngSubmit)="sendNotes()">
      <input type="text" class="input_" placeholder="Title" name="title" formControlName="Title">
      <p>
          <textarea name="content" class="input_" placeholder="Take a note" formControlName="Message"></textarea>
      </p>
      
      <div class="border">
        <app-icons class="icons" >
        </app-icons> 
          <button mat-stroked-button class="close" (click)="sendNotes()" (click)="cardSwap()" type="submit" >
              Close
          </button>
      </div>
  </form>
</mat-card>

   </div>