<div class="Container">
  <div class="login_Container">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="Login_Top_Container">
        <div class="Header_Name">
          <p>Fundoo</p>
      </div>
        <h1>Sign in</h1>
        <h3>Use your Google Account</h3>
      </div>
      <div class="Login_Middle_Container">
        <mat-form-field class="Email_Input" appearance="outline">
          <mat-label>Email or Phone</mat-label>
          <input matInput formControlName="email" required />
        </mat-form-field>
        <span class="email_p1" routerLink="/forgetPassword">
          <p>Forget Email?</p>
        </span>
        <mat-form-field class="Email_Input" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" required />
        </mat-form-field>
        
      </div>
      <div class="Paragraph">
        <p>
          Not your computer? Use Guest mode to sign in privately.
          <span>Learn more</span>
        </p>
      </div>
      <div class="Login_Bottom_Container">
        <span class="footer_p1" routerLink="/singup">
          <p>Create Account</p>
        </span>
        <button mat-raised-button color="primary">Next</button>
      </div>
    </form>
  </div>
</div>
