
<div class="Container">
    <div class="login_Container">
        <div class="Login_Top_Container">
       <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/368px-Google_2015_logo.svg.png" width="70" >
              <h1>Reset Password</h1>
        </div>
        <div class="Login_Middle_Container">
          <mat-form-field class="Email_Input" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput   required>
          </mat-form-field>
          <mat-form-field class="Email_Input" appearance="outline">
            <mat-label> Confirm Password</mat-label>
            <input matInput   required>
          </mat-form-field>
        </div>
          <div class="Login_Bottom_Container">
            <button mat-raised-button color="primary">Next</button>
        </div>
    </div>
  </div>