<div class="Container">
  <div class="login_Container">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="reset()">
      <div class="Login_Top_Container">
        <div class="Header_Name">
          <p>Fundoo</p>
      </div>
        <h1>Reset Password</h1>
      </div>
      <div class="Login_Middle_Container">
        <mat-form-field class="Email_Input" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" required />
        </mat-form-field>
        <mat-form-field class="Email_Input" appearance="outline">
          <mat-label> Confirm Password</mat-label>
          <input matInput formControlName="confirmPassword" required />
        </mat-form-field>
      </div>
      <div class="Login_Bottom_Container">
        <button mat-raised-button color="primary">Next</button>
      </div>
    </form>
  </div>
</div>
