<div class="Login_Container">
    <div class="Login_Center_Box">
     <div class="Login_Left_box">
        <div class="Login_Left_box_Top">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/368px-Google_2015_logo.svg.png" width="70" >
   <h1>Create your Google Account</h1>
       </div>
      <div class="Login_Left_Box_Name">
      <mat-form-field class="Name_Input" appearance="outline" >
        <mat-label>First Name</mat-label>
        <input  matInput >
      </mat-form-field>
      <mat-form-field  class="Name_Input" appearance="outline">
        <mat-label>Last Name</mat-label>
        <input  matInput >
      </mat-form-field>
     </div>
     <div class="Login_Left_box_Email">
      <mat-form-field class="Email_Input" appearance="outline">
        <mat-label>Enter your email</mat-label>
        <input matInput   required>
      </mat-form-field>
      <span class="email_p1">
      <p>You can use letters,numbers & periods</p>
    </span>
    <span class="email_p2">
      <p>Use my current email address instead</p>
    </span>
    </div>
    <div class="Login_Left_box_Cred" >
      <div class="Login_Password_align">
      <mat-form-field class="Password_Input"  appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput >
      </mat-form-field>
      <mat-form-field class="Password_Input"   appearance="outline">
        <mat-label>Confirm</mat-label>
        <input  matInput >
      </mat-form-field>
    </div>
  
      <section class="example-section">
        <span class="Password_p1">
          <p>Use 8 or more characters with a mix of letters, numbers & symbols</p>
        </span>
        <mat-checkbox color="primary">Show Password</mat-checkbox>
      </section>
     </div>
     <div class="Login_Left_footer">
      <span class="email_p2">
        <p>Sign in instead</p>
      </span>
      <button mat-raised-button color="primary">Next</button>
     </div>
  </div>
  <div class="Login_Right_Box">
  <img src="https://ssl.gstatic.com/accounts/signup/glif/account.svg" width="250">
  <h3>One account. All of Google<br/> working for you.</h3>
  </div>
  </div>
  
  </div>